/* HEADER */

header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	background: transparent;
}

header img{
	width: 120px;
}

header nav ul{
	display: flex;
}

header li a{
	color: #fff;
	transition: border-bottom 0.3s linear;
	font-size: 18px;
	color: #000000;
}

header li{
	margin: 0 15px;
}

header li:first-child{
	margin-left: 0;
}

header li:last-child{
	margin-right: 0;
}

header li a:hover{
	border-bottom: 2px solid #fff;
}

@media (max-width: 700px){

	header{
		flex-direction: column;
	}

	header nav ul{
		flex-direction: column;
	}

	header li{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	header li:first-child{
		text-indent: 16px;
	}

}